<div style="width: 50%;"> <!-- only required for the style guide -->
<div class="kss-state">Iframe example</div>
  <div class="file file--video">
    <div class="file__container">
      <iframe src="http://ec.europa.eu/avservices/play.cfm?ref=I101631" allowfullscreen="allowfullscreen" scrolling="no"></iframe>
    </div>
    <span class="file__caption">
      Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
    </span>
  </div>
  <div class="kss-state">Video tag example</div>
  <div class="file file--video">
    <div class="file__container">
      <video src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4" controls="controls">
      </video>
    </div>
    <span class="file__caption">
      Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
    </span>
  </div>

</div>