<div class="file file--link">
  <span class="file__icon icon icon--file-link"></span>
  <div class="file__metadata--link">
    <a class="file__title" href="http://ext.link" title="file title">Generic external file link</a>
  </div>
</div>

<div class="file file--link">
  <span class="file__icon icon icon--file-link"></span>
  <div class="file__metadata--link">
    <a class="file__title is-internal" href="http://ext.link" title="file title">Generic file link</a>
  </div>
</div>

<div class="file file--link">
  <a class="file__title is-internal" href="http://ext.link.pdf" title="file title">Link to a .pdf file</a>
</div>

<div class="file file--link">
  <a class="file__title is-internal" href="http://ext.link.ppt" title="file title">Link to a presentation file (.ppt)</a>
</div>

<div class="file file--link">
  <a class="file__title is-internal" href="http://ext.link.jpg" title="file title">Link to a .jpg image file</a>
</div>
