<div class="gallery-overlay">

  <div class="gallery-overlay__main">

    <div class="gallery-overlay__media-previous">
      <a href="#" class=""><span class="icon icon--left"></span> Previous</a>
    </div>

    <div class="gallery-overlay__media">
      <div class="gallery-overlay__media-wrapper--center">
        <img typeof="foaf:Image" class="img-responsive" src="http://lorempixel.com/840/600/business" alt="">
      </div>
    </div>

    <div class="gallery-overlay__media-next">
      <a href="#" class="">Next <span class="icon icon--right"></span></a>
    </div>

  </div>

  <div class="gallery-overlay__sidebar">
    <span class="gallery-overlay__close"> <span class="icon icon--close"></span> Close</span>
    <div class="gallery-overlay__meta">
      <span class="gallery-overlay__count">2/15</span>
      <span class="gallery-overlay__download"><a href="#" class="">Download <span class="icon icon--download"></span></a></span>
      <span class="gallery-overlay__share icon-social"><a href="#" class="">Share <span class="icon icon--share"></span></a></span>
    </div>

    <div class="gallery-overlay__description">
      <p>Media description here...</p>
    </div>
    <div class="gallery-overlay__copyright">&copy; Copyright info</div>
  </div>

</div>
