<button id="btn-gallery-overlay" class="btn btn-primary">
  Gallery overlay <span class="icon icon--image"></span>
</button>

<!-- Modal -->
<div id="gallery-overlay" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="gallery-overlay">
    <div class="gallery-overlay__media">
      <div class="gallery-overlay__media-previous">
        <a href="#" title="Previous"><span class="sr-only">Previous</span></a>
      </div>

      <div class="gallery-overlay__media-item-list__wrapper">
        <ul class="gallery-overlay__media-item-list">
          <li class="gallery-overlay__media-item active">
            <img class="img-responsive" src="http://lorempixel.com/600/1200/business" alt="">
          </li>
          <li class="gallery-overlay__media-item">
            <img class="img-responsive" src="http://lorempixel.com/1200/620/business" alt="">
          </li>
          <li class="gallery-overlay__media-item">
            <img class="img-responsive" src="http://lorempixel.com/800/800/business" alt="">
          </li>
          <li class="gallery-overlay__media-item">
            <img class="img-responsive" src="http://lorempixel.com/960/1200/business" alt="">
          </li>
        </ul>
      </div>

      <div class="gallery-overlay__media-next">
        <a href="#" title="Next"><span class="sr-only">Next</span></a>
      </div>
    </div>

    <div class="gallery-overlay__sidebar">
      <div class="gallery-overlay__sidebar__content">
        
        <div class="gallery-overlay__meta">
          <span class="gallery-overlay__count">2 / 15</span>
          <span class="gallery-overlay__download">
            <a href="#" title="Download">Download</a>
          </span>
          <span class="gallery-overlay__share">
            <a href="#" title="Share">Share</a>
          </span>
        </div>

        <div class="gallery-overlay__description">
          <p>Nulla consequat massa quis enim. Donec pede justo.</p>
          <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Integer tincidunt. <a href="#" title="Cras dapibus">Cras dapibus</a>. Vivamus elementum semper nisi.</p>
        </div>

        <span class="gallery-overlay__copyright">
          &copy; Copyright holder, Author name, License type
        </span>
      </div>
    </div>
  </div>
</div>

<script>
  jQuery(function () {
    jQuery('#gallery-overlay').dialog({
      autoOpen: false,
      resizable: false,
      draggable: false,
      modal: true,
      fluid: true,
      width: 'auto',
      height: 'auto',
      open: function (event) {
        jQuery('.ui-widget-overlay').css('background-color', '#404040');
        jQuery('.ui-widget-overlay').css({'filter': 'alpha(opacity=90)', 'zoom': '1', 'opacity': '0.9'});
        jQuery('.ui-dialog').css('padding', '0');
        jQuery('#gallery-overlay').css('padding', '0');
        jQuery('.ui-dialog-title').css('display', 'none');
        var $top_bar = jQuery(event.target).parent().find('.ui-dialog-titlebar');
        $top_bar.addClass('gallery-overlay__close-wrapper');
        $top_bar.find('button').addClass('gallery-overlay__close');
        jQuery('body').css({overflow: 'hidden'});
      },
      beforeClose: function (event, ui) {
        jQuery('body').css({overflow: 'inherit'})
      }
    });
  });

  jQuery('#btn-gallery-overlay').click(function (event) {
    event.preventDefault();
    jQuery('#gallery-overlay').dialog('open');
  });

  jQuery(window).resize(function () {
    jQuery('#gallery-overlay').dialog('option', 'position', {my: 'center', at: 'center', of: window});
  });

  jQuery('.gallery-overlay__media-next a').click(function (event) {
    event.preventDefault();
    var index = jQuery(this).parent().prev().find('.active').index(),
        $element = jQuery('.gallery-overlay__media-item');
    if ($element.size() > index + 1) {
      $element.eq(index).removeClass('active');
      $element.eq(index + 1).addClass('active');
    }
  });

  jQuery('.gallery-overlay__media-previous a').click(function (event) {
    event.preventDefault();
    var index = jQuery(this).parent().next().find('.active').index();
    if (index > 0) {
      var $element = jQuery('.gallery-overlay__media-item');
      $element.eq(index).removeClass('active');
      $element.eq(index - 1).addClass('active');
    }
  });
</script>
