<div class="mediagallery">
  <div class="row">
    <div class="col-md-4 mediagallery__item has-icon">
      <div class="mediagallery__item_container">
        <img typeof="foaf:Image" class="img-responsive" src="http://lorempixel.com/380/185/business" width="380" height="185" alt="">
        <div class="mediagallery__item_info">
          <span class="mediagallery__caption">The caption for the image is shown when hovering the mediagallery item thumbnails. Please check whether you see the ellipsis because they are supposed to be here to tell you that the text is longer</span>
          <span class="mediagallery__icon">
            <span class="icon icon--camera"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3 mediagallery__item has-icon">
      <div class="mediagallery__item_container">
        <img typeof="foaf:Image" class="img-responsive" src="http://lorempixel.com/285/185/business" width="285" height="185" alt="">
        <div class="mediagallery__item_info">
          <span class="mediagallery__icon">
            <span class="icon icon--audio"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-2 mediagallery__item has-icon">
      <div class="mediagallery__item_container">
        <img typeof="foaf:Image" class="img-responsive" src="http://lorempixel.com/190/185/business" width="190" height="185" alt="">
        <div class="mediagallery__item_info">
          <span class="mediagallery__caption">A very loooong caption for one of the images that we show in the mediagallery together, the text will not be readable and ellipsis will be added when maximum height is reached.</span>
          <span class="mediagallery__icon">
            <span class="icon icon--camera"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3 mediagallery__item">  
      <div class="mediagallery__item_container">
        <img typeof="foaf:Image" class="img-responsive" src="http://lorempixel.com/285/185/business" width="285" height="185" alt="">
        <div class="mediagallery__item_info"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mediagallery__item">
      <div class="mediagallery__item_container">
        <img typeof="foaf:Image" class="img-responsive" src="http://lorempixel.com/190/185/business" width="190" height="185" alt="">
        <div class="mediagallery__item_info">
          <span class="mediagallery__caption">A short caption.</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 mediagallery__item">
      <div class="mediagallery__item_container">
        <img typeof="foaf:Image" class="img-responsive" src="http://lorempixel.com/285/185/business" width="285" height="185" alt="">
        <div class="mediagallery__item_info"></div>
      </div>
    </div>
    <div class="col-md-3 mediagallery__item">
      <div class="mediagallery__item_container">
        <img typeof="foaf:Image" class="img-responsive" src="http://lorempixel.com/285/185/business" width="285" height="185" alt="">
        <div class="mediagallery__item_info"></div>
      </div>
    </div>
    <div class="col-md-4 mediagallery__item">
      <div class="mediagallery__item_container">
        <img typeof="foaf:Image" class="img-responsive" src="http://lorempixel.com/380/185/business" width="380" height="185" alt="">
        <div class="mediagallery__item_info">
          <span class="mediagallery__caption">A super long caption for an item that is not showing any icon associated. Please check whether you see the ellipsis because they are supposed to be here to tell you that the text is longer.</span>
        </div>
      </div>
    </div>
  </div>
</div>
