<div class="listing__wrapper">
  <ul class="listing listing--column-left">
    <li class="listing__item">
      <div class="listing__item__wrapper">
        <a href="#" class="listing__item-link"></a>
        <div class="listing__column-second {{modifier}}">
          <img src="public/images/png/placeholder_female.png">
        </div>
        <div class="listing__column-main">
          <div class="meta">
            <span class="meta__item meta__item--type">DEPUTY DIRECTOR-GENERAL</span>
          </div>
          <h3 class="listing__title">
            <a href="#" title="Title link">María Angeles Benítez Salas</a>
          </h3>
        </div>
      </div>
    </li>
    <li class="listing__item">
      <div class="listing__item__wrapper">
        <a href="#" class="listing__item-link"></a>
        <div class="listing__column-second {{modifier}}">
          <img src="public/images/png/placeholder_male.png">
        </div>
        <div class="listing__column-main">
          <div class="meta">
            <span class="meta__item meta__item--type">DEPUTY DIRECTOR-GENERAL</span>
          </div>
          <h3 class="listing__title">
            <a href="#" title="Title link">Mihail Dumitru</a>
          </h3>
        </div>
      </div>
    </li>
  </ul>
</div>
