<div class="listing__wrapper listing__wrapper--row-three">
  <ul class="listing listing--no-border listing--teaser listing--cta">
    <li class="listing__item">
      <div class="node">
        <a href="#" class="listing__item-link" title="Ab aspernatur at dolor dolorem">
          <span class="sr-only">Ab aspernatur at dolor dolorem</span>
        </a>
        <div class="listing__column-main">
          <h3 class="listing__title">Ab aspernatur at dolor dolorem</h3>
          <p>Cras sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
        </div>
      </div>
    </li>
    <li class="listing__item">
      <div class="node">
        <a href="#" class="listing__item-link" title="Architecto at deserunt">
          <span class="sr-only">Architecto at deserunt</span>
        </a>
        <div class="listing__column-main">
          <h3 class="listing__title">
            <a href="#" title="Architecto at deserunt">Architecto at deserunt</a>
          </h3>
          <p>Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu.</p>
        </div>
      </div>
    </li>
    <li class="listing__item">
      <div class="listing__item__wrapper">
        <a href="#" class="listing__item-link" title="Architecto at deserunt, distinctio">
          <span class="sr-only">Architecto at deserunt, distinctio</span>
        </a>
        <div class="listing__column-main">
          <h3 class="listing__title">Architecto at deserunt, distinctio</h3>
          <p>Vestibulum turpis sem, aliquet eget lobortis pellentesque, rutrum eu.</p>
        </div>
      </div>
    </li>
    <li class="listing__item">
      <div class="listing__item__wrapper">
        <a href="#" class="listing__item-link" title="Ab aspernatur at dolor dolorem">
          <span class="sr-only">Ab aspernatur at dolor dolorem</span>
        </a>
        <div class="listing__column-main">
          <h3 class="listing__title">Ab aspernatur at dolor dolorem</h3>
          <p>Cras sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
        </div>
      </div>
    </li>
    <li class="listing__item">
      <div class="listing__item__wrapper">
        <a href="#" class="listing__item-link" title="Architecto at deserunt">
          <span class="sr-only">Architecto at deserunt</span>
        </a>
        <div class="listing__column-main">
          <h3 class="listing__title">
            <a href="#" title="Architecto at deserunt">Architecto at deserunt</a>
          </h3>
          <p>Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu.</p>
        </div>
      </div>
    </li>
    <li class="listing__item">
      <div class="listing__item__wrapper">
        <a href="#" class="listing__item-link" title="Architecto at deserunt, distinctio">
          <span class="sr-only">Architecto at deserunt, distinctio</span>
        </a>
        <div class="listing__column-main">
          <h3 class="listing__title">Architecto at deserunt, distinctio</h3>
          <p>Vestibulum turpis sem, aliquet eget lobortis pellentesque, rutrum eu.</p>
        </div>
      </div>
    </li>
  </ul>
</div>