<ul class="listing listing--title {{modifier_class}}">
  <li class="listing__item">
    <div about="" typeof="sioc:Item foaf:Document" class="listing__item__wrapper">
      <a href="#" class="listing__title">Ab aspernatur at dolor dolorem doloremque error exercitationem id non quidem quisquam.</a>
    </div>
  </li>
  <li class="listing__item">
    <div about="" typeof="sioc:Item foaf:Document" class="listing__item__wrapper">
      <a href="#" class="listing__title">Architecto at deserunt, distinctio, eaque eos est et facere facilis.</a>
    </div>
  </li>
</ul>
