<div class="timeline">
  <ul class="timeline__list">
    <li class="timeline__list__item">
      <div class="timeline__list__item__title">By late-2013</div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec tellus congue, pretium nibh eu, mattis ligula. Integer tempus varius enim ut scelerisque. Curabitur rutrum vestibulum elit ac pulvinar.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec tellus congue, pretium nibh eu, mattis ligula. Integer tempus varius enim ut scelerisque. Curabitur rutrum vestibulum elit ac pulvinar.
      </p>
    </li>
    <li class="timeline__list__item">
      <div class="timeline__list__item__title">By late-2014</div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec tellus congue, pretium nibh eu, mattis ligula. Integer tempus varius enim ut scelerisque. Curabitur rutrum vestibulum elit ac pulvinar.
      </p>
    </li>
    <li class="timeline__list__item">
      <div class="timeline__list__item__title">By late-2015</div>
      <p>
        The Commission will convene the first energy infrastructure forum to discuss and find solutions to issues that are common to all regions across Europe.
      </p>
      <p>
        The Commission will convene the first energy infrastructure forum to discuss and find solutions to issues that are common to all regions across Europe.
      </p>
    </li>
    <li class="timeline__list__item">
      <div class="timeline__list__item__title">By late-2016</div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec tellus congue, pretium nibh eu, mattis ligula. Integer tempus varius enim ut scelerisque. Curabitur rutrum vestibulum elit ac pulvinar.
      </p>
    </li>
    <li class="timeline__list__item">
      <div class="timeline__list__item__title">By late-2017</div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec tellus congue, pretium nibh eu, mattis ligula. Integer tempus varius enim ut scelerisque. Curabitur rutrum vestibulum elit ac pulvinar.
      </p>
    </li>
    <li class="timeline__list__item">
      <div class="timeline__list__item__title">By late-2018</div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec tellus congue, pretium nibh eu, mattis ligula. Integer tempus varius enim ut scelerisque. Curabitur rutrum vestibulum elit ac pulvinar.
      </p>
    </li>
  </ul>
</div>
