/*
Labels

Markup: html/labels.html

.label--highlight - Status open
.label--status-closed - Status closed
.label--status-upcoming - Status upcoming
.label--meta - Meta
.label--meta-medium - Meta medium
.label--high - Meta high
.label--status - Status
.label--next - Next

Styleguide labels
*/

.label {
  display: inline-block;
  padding: 0.475em 0.5em 0.5em;
  font-size: $font-size-xxsmall;
  font-weight: normal;
  letter-spacing: 0.12em;
  color: $ec-grey;
  border-radius: 0;
  text-transform: uppercase;
}

.label--no-padding-left {
  padding-left: 0;
}

.label--status-closed {
  background-color: $ec-grey10;
  color: $ec-grey;
}

.label--status-upcoming {
  background-color: $ec-yellow25;
  color: $ec-grey;
}

.label--high {
  min-height: 2.75em;
  padding: 0.3em 1em;
  line-height: 2.75em;
  font-size: $font-size-xsmall;
}

.label--meta {
  @extend .meta__item;

  margin: 0.25em 1.3em 0.3em 0;
}

.label--meta-medium {
  @extend .label--meta;

  margin: 0.35em 0.5em 0.45em 0;
  font-size: 0.75em;
}

.label--highlight {
  background-color: $ec-yellow;
  color: $ec-grey;

  &.label--meta {
    &::after {
      content: "";
      margin: 0;
    }
  }
}

.label--next {
  background-color: $ec-yellow75;
}

.label--status {
  background-color: $ec-grey10;
  color: $ec-grey;
}
