/*
Timeline

Markup: html/timeline.html

Style guide timeline
*/

.timeline {
  border-left: 4px solid $ec-yellow;
  margin-bottom: 1.667em;

  .btn-timeline {
    @extend .btn-ctn;

    margin: 0 0 1.667em 1.667em;

    &::after {
      content: '\e81f' !important;
    }
  }
}

.timeline__list {
  list-style: none;
  position: relative;
  margin-bottom: 1.667em;
  padding: 2em 0 0 1.667em;

  .timeline__list__item,
  .timeline__list__item__text ul li {
    margin-bottom: 1em;
    color: $ec-grey75;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .timeline__list__item__title {
    margin-bottom: 0.4em;
    line-height: 1em;
    font-weight: bold;

    &::before {
      position: absolute;
      left: -0.6em;
      width: 14px;
      height: 14px;
      margin-top: 0.1em;
      content: '';
      background-color: #fff;
      border: 3px solid $ec-grey75;
      border-radius: 50%;

      @include breakpoint(screen-xs-min) {
        margin-left: 2px;
      }
    }
  }
}
