@media print {
  .section--content-top-middle-right,
  .section__group.group-middle-social-links,
  .section--force-bottom,
  .region-sidebar-first {
    display: none;
  }

  img {
    display: none;
  }

  .field--body .file.file--image {
    display: inline !important;

    img {
      display: inline;
    }
  }
}
